#medicalMainContainer
{
    min-height: 85vh;
}
#imageContainer
{
    background: url('../../img/guideIimg.avif') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 45vh;
}